# Maven
target/

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# ---- Sonar
.sonar

# visual studio code
.vscode

# ---- InteliJ IDEA
.idea
*.iml

# java
javac-services.0.log
javac-services.0.log.lck
